@import "src/styles";

.container {
  padding-top: 2em;
  padding-bottom: 2em;
  //background-image: url("../../../../../assets/icons/logoalt.png");
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: 30em auto;
  &__heading {
    font-size: 3em;
  }
  &__desc {
    font-size: 1.3em;
    line-height: 1.8em;
    margin-bottom: 2em;
  }
}

.img-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .img-container img {
    width: 80vw;
  }
}
