@import "src/styles";

.container {
  padding-top: 2em;
  padding-bottom: 2em;
  &__heading {
    font-size: 3em;
  }
  &__desc {
    font-size: 1.5em;
  }
}

.img-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .img-container img {
    width: 80vw;
  }
}
