<div class="container content-padded">
  <h2 class="container__heading">Who are we?</h2>
  <p class="container__desc">
    Cuculi Records joins a growing number of DIY labels based in Bristol, UK. It’s a collective effort imagined by songwriters Bethany Roberts and Bec Garthwaite as a space to cultivate our own sound and release it independently.
  </p>
  <p class="container__desc">
    After several years of writing, performing and recording with songwriters’ collective Hands of the Heron, it felt right to create a platform to share the effort and joy of releasing our music, alongside the solo projects and offshoot collaborations born from the band.
</p>
  <p class="container__desc">
    Within this creative cocoon, these songwriters and poets have found pathways to develop their craft. Come and listen.
 </p>
  <div class="img-container">
    <img src="assets/icons/logoalt.png">
  </div>
</div>
