<div class="container content-padded" data-aos="fade-in" data-aos-delay="150">
  <div class="container__upper">
    <div class="container__img-wrapper">
      <img src="{{release.imgSrc}}">
    </div>
    <div class="container__release-info">
      <h2 class="page-title allPage-title">{{release.title}}</h2>
      <h2>{{release.artist}}, {{release.year}}</h2>
      <p class="allPage-para">{{release.info}}</p>
      <div class="container__release-info__purchase" >
        <h3>Buy now: {{release.price}}</h3>
      </div>
      <div class="container__release-info__links">
        <a *ngFor="let link of release.links" href="{{link.href}}" target="_blank">
          <img src="{{link.icon}}">
        </a>
      </div>
    </div>
  </div>
</div>
