<div class="container content-padded" [ngClass]="activeHamburger ? 'display' : 'display-none'">
  <div class="container__links">
    <a routerLink="artists">artists</a>
    <a routerLink="releases">releases</a>
    <a routerLink="news">news</a>
    <a routerLink="calendar">calendar</a>
    <a routerLink="contact">contact</a>
  </div>
  <div class="container__logos">
    <a href="https://www.facebook.com/cuculirecords" target="_blank">
      <img src="../../assets/icons/facebookwht.svg" class="container__logos__logo">
    </a>
    <a href="https://www.instagram.com/cuculirecords/" target="_blank">
      <img src="../../assets/icons/instagramwht.svg" class="container__logos__logo">
    </a>
  </div>
</div>
<div class="harry-info">
  <a href="https://hcoulton.tech" target="_blank" style="color: white" id="harry-link">
    Built by Harry Coulton 2020 - Click for more
  </a>
</div>
