  <div class="wrapper" data-aos="fade-in" data-aos-delay="200">
    <div class="img-wrapper">
      <img src="{{story.imgSrc}}" alt="{{story.imgDesc}}">
    </div>
    <div class="container content-padded">
      <div class="container__text">
        <h1 class="container__text__heading">{{story.heading}}</h1>
        <h2 class="quote-mb">"{{story.quote}}"</h2>
        <p class="container__text__text">{{story.text}}</p>
        <div class="related-stories" *ngIf="relatedStories.length">
          <h2>Related stories</h2>
          <div class="related-stories__stories">
            <app-tile class="related-stories" [inPage]="true" *ngFor="let story of relatedStories" [data]="story"></app-tile>
          </div>
        </div>
      </div>
      <div class="container__info">
        <div class="container__info__quote" *ngIf="story.quote">
          <h1 class="container__info__quote__text">
            <h2 class="quote-desk">"{{story.quote}}"</h2>
          </h1>
        </div>
        <div class="container__info__artists" *ngIf="relatedArtists.length">
          <h2>Related Artists</h2>
          <app-artist-tile *ngFor="let artist of relatedArtists" [artist]="artist"></app-artist-tile>
        </div>
      </div>
    </div>
  </div>

