@import "src/styles";

.container {
  background: #3e5866;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  &__link {
    font-size: 4em;
    color: $secondaryFontColor;
    text-decoration: none;
  }
  &__link:hover {
    color: $tertiaryFontColor;
    font-style: italic;
  }

}
