<div class="container content-padded" data-aos="fade-in" data-aos-delay="150" style="min-height: 60vh">
  <h1 class="allPage-title">Contact</h1>
  <div class="container__contact">
    <div class="container__contact__details">
      <h3 class="allPage-subtitle">Email: info@cuculirecords.com</h3>
    </div>
<!--    <div class="container__contact__form">-->
<!--&lt;!&ndash;      <img src="assets/icons/cuculilogo.png">&ndash;&gt;-->
<!--    </div>-->
  </div>
  <div class="container__links">
    <a  class="links-icon-wrapper" *ngFor="let link of links" href="{{link.link}}" target="_blank">
      <fa-icon class="link-icon" [icon]="link.icon"></fa-icon>
    </a>
  </div>
</div>
