.container {
  background-image: url("../../../assets/icons/cuculilogo.png");
  background-position: center;
  background-repeat: no-repeat;
  &__contact {
    display: flex;
    &__details {
      flex: 0 0 50%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
    &__form {
      flex: 0 0 50%;
      display: flex;
    }
  }
}

