@import "src/styles";

.container {
  background-image: url("../../../assets/icons/logoalt.png");
  background-position: center;
  background-repeat: no-repeat;
  &__contact {
    display: flex;
    &__details {
      flex: 0 0 50%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      h3 {
        font-size: 1.6em !important;
      }
    }
    &__form {
      flex: 0 0 50%;
      display: flex;
    }
  }
  &__links {
    width: 50%;
    display: flex;
    .link-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .link-icon {
      color: black;
      font-size: 5em;
      margin-right: 1.5em;
    }
    .link-icon:hover {
      color: #6e607d;
    }
  }
}

@media only screen and (max-width: 500px){
  h3 {
    font-size: 1.5em;
  }
  .container {
    background-size: 25em;
  }
}

