:host {
  margin-bottom: 2em;
}

.displayNone {
  display: none;
}

.container__tile {
  text-decoration: none;
  color: inherit;
  &:hover{
      color: #8ce0e5;
  }
  &__featured {
    color: black !important;
  }
  &__img-wrapper {
    width: 100%;
    img {
      width: 100%;
      max-height: 15em;
      //object-fit: cover;
      object-fit: contain;
    }
    .featuredImg {
      max-height: 20em;
    }
  }
  &__text {
    &__head {
      margin: 0.2em 0;
    }
    &__desc {
      width: 90%;
      font-size: 1.2em;
      overflow: hidden;
      max-height: 6em;
      display: none;
    }
    &__read-more {
      font-style: italic;
      color: #666666;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        font-style: normal;
      }
    }
  }
}
