.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url("../../../assets/icons/cuculilogo.png");
  background-position: center;
  background-repeat: no-repeat;
}

* {
  text-align: center;
}


@media only screen and (max-width: 500px){
  h3 {
    font-size: 1.5em;
  }
  .container {
    background-size: 25em;
  }
}

