<div class="container content-padded" data-aos="fade-in" data-aos-delay="150">
  <div class="container__left" data-aos="fade-right" data-aos-delay="280">
    <div class="container__left__logo-wrapper">
      <a routerLink="/">
        <img class="container__left__logo-wrapper__logo" src="assets/icons/cuculilogo.png">
      </a>
    </div>
  </div>
  <div class="container__centerpiece" data-aos="zoom-in" data-aos-delay="320">
    <a routerLink="/" class="container__centerpiece__text-wrapper">
      <h2 class="container__centerpiece__text">CUCULI</h2>
      <h3 class="container__centerpiece__subtext">RECORDS</h3>
    </a>
  </div>
  <div class="container__right" data-aos="fade-left" data-aos-delay="280">
      <a routerLink="/artists" class="container__right__link">Artists</a>
      <a routerLink="/releases" class="container__right__link">Releases</a>
      <a routerLink="/calendar" class="container__right__link">Calendar</a>
      <a routerLink="/news" class="container__right__link">News</a>
      <a routerLink="/contact" class="container__right__link">Contact</a>
      <div class="container__right__hamburger">
        <a routerLink="{{activeHamburger ? '/mob-nav' : currentRoute }}">
          <button class="hamburger hamburger--collapse" type="button" (click)="toggleActive()" [ngClass]="activeHamburger ? 'is-active' : ''">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </a>
      </div>
  </div>
</div>

