@import "src/styles";

:host {
  position: fixed;
  z-index: 10;
  background: #3e5866;
  //background: #d9e8e3;
}

.container {
  height: 9em;
  display: flex;
  width: 100vw;
  &__left {
    flex: 0 0 40%;
    display: flex;
    &__logo-wrapper {
      flex: 0 0 30%;
      display: flex;
      justify-content: flex-start;
      &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &__logo {
        height: 9em;
      }
    }
  }
  &__centerpiece {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    &__text-wrapper {
      color: #FFFFFF;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      margin: 0.4em 0 0 0;
      letter-spacing: 0.2em;
    }
    &__subtext {
      margin: 0;
      letter-spacing: 0.22em;
    }
  }
  &__right {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2em;
    &__link {
      font-size: 1.5em;
      color: $secondaryFontColor;
      text-decoration: none;
      letter-spacing: -0.05em;
    }
    &__link:hover {
      color: $tertiaryFontColor;
      font-style: italic;
    }
    &__hamburger {
      display: none;
    }
  }
}

@media only screen and (max-width: 1400px){
  .container {
    &__right {
      flex: 0 0 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &__link {
        font-size: 1.4em;
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  .container {
    &__right {
      &__link {
        font-size: 1.3em;
      }
    }
  }
}

@media only screen and (max-width: 1150px){
  .container {
    &__right {
      &__link {
        display: none;
      }
      &__hamburger {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 750px){
  .container {
    &__centerpiece {
      display: none;
    }
  }
}

