<div class="container" data-aos="fade-in" data-aos-delay="200">
  <div class="container__left">
    <div class="container__left__logo-wrapper">
      <a href="/">
        <img class="container__left__logo-wrapper__logo" src="assets/images/logo.png">
      </a>
    </div>
  </div>
  <div class="container__centerpiece">
    <a routerLink="/" class="container__centerpiece__text-wrapper">
      <h2 class="container__centerpiece__text">CUCULI</h2>
      <h3 class="container__centerpiece__subtext">RECORDS</h3>
    </a>
  </div>
  <div class="container__right">
      <a routerLink="/artists" class="container__right__link">Artists</a>
      <a routerLink="/releases" class="container__right__link">Releases</a>
      <a routerLink="/calendar" class="container__right__link">Calendar</a>
      <a routerLink="/contact" class="container__right__link">Contact</a>
  </div>
</div>
