@import "src/styles";

:host {
  flex: 0 0 33%;
}

.container {
  text-decoration: none;
  position: relative;
  &:hover {
    font-style: italic;
  }
  &__img-wrapper {
    padding-bottom: 0;
    img {
      width: 100%;
      height: 30em;
      object-fit: cover;
    }
  }
  h3 {
    font-size: 2em;
    z-index: 3;
    width: 90%;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-decoration: none;
  }
  h4 {
  }
}

@media only screen and (max-width: 1000px){
  :host {
    flex: 0 0 50%;
  }
}

@media only screen and (max-width: 750px){
  :host {
    flex: 0 0 100%;
  }
}
