@import "src/styles";
//
//.news-twitter {
//  display: flex;
//  margin-top: 3em;
//  padding-left: $desktopPadding;
//  &__news {
//    flex: 0 0 80%;
//  }
//  &__twitter-wrapper {
//    flex: 0 0 20%;
//  }
//}

.container {
  display: flex;
  flex-direction: column;
  &__info-news {
    flex: 0 0 80%;
    display: flex;
    .info-wrapper {
      background: $textBgMain;
      flex: 0 0 60%;
    }
    .news-wrapper {
      flex: 0 0 40%;
      padding-left: 2em;
    }
  }
  &__feed {
    flex: 0 0 20%;
    .fb-page {
      width: 100%;
    }
  }
}
