@import "src/styles";

.container {
  position: relative;
  &__carousel {
    height: 80vh;
    &__slide {
      width: 100%;
      height: 80vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      &__text {
        text-decoration: none;
        color: $offWhite;
        position: absolute;
        bottom: 10%;
        width: 100%;
        background: $textBgFaded;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h2 {
          font-size: 5em;
          margin-top: 0.3em;
          margin-bottom: 0.2em;
        }
        h3 {
          font-size: 2em;
        }
      }
      &__text:hover {
        color: $tertiaryFontColor;
      }
    }
  }
}

span {
  letter-spacing: -0.05em;
}

@media only screen and (max-width: 1000px){
  .container {
    position: relative;
    &__carousel {
      height: 55vh;
      &__slide {
        height: 55vh;
        &__text {
          h2 {
            font-size: 2.2em;
            margin-bottom: 0;
          }
          h3 {
            font-size: 2em;
          }
        }
        &__text:hover {
          color: $tertiaryFontColor;
        }
      }
    }
  }
}

.owl-dot {
  display: none;
}



