@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";

/* You can add global styles to this file, and also import other style files */
$mainFontColor: #000000;
$secondaryFontColor: #d7eede;
//$tertiaryFontColor: #dabeea;
$tertiaryFontColor: #8ce0e5;
$offWhite: #f1f1f1;
$hoverColor: red;

$textBgMain: #d6d4ce;
$textBgFaded: rgba(113, 113, 113, 0.6);

$desktopPadding: 5vw;
$tabletPadding: 2.5vw;
$mobilePadding: 2vw;



* {
  box-sizing: border-box;
  font-family: now;
  letter-spacing: 0em;
}

.simplifica {
  font-family: simplifica;
}

body {
  margin: 0;
  //background-color: #edfaff;
  background-color: #f5f2ef;
}

@font-face {
  font-family: simplifica;
  src: url("assets/fonts/simplifica.ttf");
}

@font-face {
  font-family: now;
  src: url("assets/fonts/now.otf");
}

.content-padded {
  padding: 0 $desktopPadding;
}



.owl-dots {
  position: absolute;
  right: 20%;
  bottom: 10%;
}

.owl-dots span {
  background: $textBgFaded !important;
}

.owl-dots .active span {
  background: $tertiaryFontColor !important;
}

.allPage-title {
  font-size: 4em;
}

.allPage-subtitle {
  font-size: 2em;
}

p {
  letter-spacing: 0.02em;
  color: #1e3023;
  font-size: 0.9em;
}

.display-none {
  display: none;
}

@media only screen and (max-width: 1000px){
  .content-padded {
    padding: 0 $tabletPadding;
  }
  .allPage-title {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 500px){
  .content-padded {
    padding: 0 $mobilePadding;
  }
  .allPage-title {
    font-size: 2.5em;
  }
}

