@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";

/* You can add global styles to this file, and also import other style files */
$mainFontColor: #000000;
$secondaryFontColor: #d7eede;
$tertiaryFontColor: #dabeea;
$offWhite: #f1f1f1;
$hoverColor: red;

$textBgMain: rgba(238, 221, 238, 0.67);
$textBgFaded: rgba(113, 113, 113, 0.6);

$desktopPadding: 5vw;
$tabletPadding: 2.5vw;
$mobilePadding: 2vw;



* {
  box-sizing: border-box;
  font-family: simplifica;
  letter-spacing: 0.1em;
}

body {
  margin: 0;
}

@font-face {
  font-family: simplifica;
  src: url("assets/fonts/simplifica.ttf");
}

.content-padded {
  padding: 0 $desktopPadding;
}

@media only screen and (max-width: 1000px){
  .content-padded {
    padding: 0 $tabletPadding;
  }
}

@media only screen and (max-width: 500px){
  .content-padded {
    padding: 0 $mobilePadding;
  }
}

.owl-dots {
  position: absolute;
  right: 20%;
  bottom: 10%;
}

.owl-dots span {
  background: $textBgFaded !important;
}

.owl-dots .active span {
  background: $tertiaryFontColor !important;
}

.allPage-title {
  font-size: 3em;
}

.allPage-subtitle {
  font-size: 2em;
}

p {
  font-family: 'Abel', sans-serif;
  letter-spacing: 0.02em;
}

