:host {
  flex: 0 0 50%;
}

.container {
  margin-bottom: 2em;
  &__upper {
    display: flex;
    margin-bottom: 1em;
    &__event-img {
      img {
        max-height: 15em;
        max-width: 30em;
        object-fit: cover;
      }
    }
    &__info {
      flex: 0 0 50%;
      padding-left: 3em;
      h2 {
        margin-top: 0;
      }
    }
  }
  &__links {
    display: flex;
    a {
      img {
        width: 3em;
        margin-right: 5em;
      }
    }
  }
}
